@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Teko&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&family=Unica+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --main-bg: #E5E4E3;
  --main-color: #0F0E17;
  --red: #CC2525;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #0F0E17;
  text-transform: uppercase;
  scroll-behavior: smooth;
}

* body {
  background: var(--main-bg);
}

* body #onload-container {
  position: relative;
}

* body #onload-container #sticky {
  position: absolute;
  z-index: 100;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

* body #onload-container #sticky #main-container {
  position: absolute;
  top: 0px;
}

* body #logo-container {
  height: auto;
  position: relative;
  overflow: hidden;
}

* body #logo-container #logo {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

* body #link-container {
  height: 25px;
  position: relative;
  overflow: hidden;
}

* body #link-container #link {
  position: absolute;
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
  text-align: right;
}

* body #link-container #link span {
  position: relative;
  letter-spacing: 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

* body #link-container #link span:hover {
  letter-spacing: 2px;
}

* body #link-container #link span #icon {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-radius: 100%;
}

* body #link-container #link span:hover #icon {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background: var(--main-color);
  fill: var(--main-bg);
  border-radius: 100%;
}

* body #menu-link {
  height: 20px;
  position: relative;
  overflow: hidden;
}

* body #menu-link div {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

* body #menu-link div span {
  position: relative;
  letter-spacing: 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

* body #menu-link div span:hover {
  letter-spacing: 2px;
}

* body #page-link {
  height: 60px;
  position: relative;
  overflow: hidden;
}

* body #page-link #link,
* body #page-link #mobileview-link {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

* body #page-link #link span,
* body #page-link #mobileview-link span {
  position: relative;
  letter-spacing: 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

* body #page-link #link span:hover,
* body #page-link #mobileview-link span:hover {
  letter-spacing: 2px;
}

* body #page-link #link span #icon,
* body #page-link #mobileview-link span #icon {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-radius: 100%;
}

* body #page-link #link span:hover #icon,
* body #page-link #mobileview-link span:hover #icon {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background: var(--main-bg);
  fill: var(--main-color);
  border-radius: 100%;
}

* body #p-container {
  position: relative;
  overflow: hidden;
}

* body #p-container #hero-p {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  margin-right: 5px;
}

* body #hero-container {
  position: relative;
  overflow: hidden;
}

* body #hero-container #hero-aspiringweb {
  margin-right: 10px;
}

* body #hero-container #hero-designerdev {
  position: absolute;
  width: 100%;
}

* body #about-container {
  position: relative;
  overflow: hidden;
}

* body #about-container span {
  margin-right: 10px;
}

* body #content-container {
  position: relative;
  overflow: hidden;
  height: auto;
}

* body #list {
  border-top: 1px solid var(--main-color);
  position: relative;
  overflow: hidden;
}

* body #list:last-child {
  border-bottom: 1px solid var(--main-color);
}

* body #list ul li {
  margin-right: 10px;
}

* body #stack-container {
  position: relative;
  overflow: hidden;
  height: auto;
}

* body #stack-container span {
  margin-right: 10px;
}

* body #stacks {
  position: relative;
  overflow: hidden;
}

* body #stacks p {
  margin-right: 5px;
}

* body #description {
  position: relative;
  overflow: hidden;
  height: auto;
}

* body #description #description-p {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  margin-right: 5px;
}

* body #selected-project-header {
  position: relative;
  overflow: hidden;
}

* body #selected-project-header #selected,
* body #selected-project-header #projects {
  position: absolute;
}

* body #behance-link-container {
  position: relative;
  overflow: hidden;
}

* body #behance-link-container a span {
  position: relative;
  letter-spacing: 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

* body #behance-link-container a span:hover {
  letter-spacing: 2px;
}

* body #behance-link-container a #icon {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-radius: 100%;
}

* body #behance-link-container a:hover #icon {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background: var(--main-bg);
  fill: var(--main-color);
  border-radius: 100%;
}

* body #behance-link-container a #icons {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-radius: 100%;
}

* body #behance-link-container a:hover #icons {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background: var(--main-bg);
  fill: var(--main-color);
  border-radius: 100%;
}

* body #project-card-container {
  position: relative;
  overflow: hidden;
}

* body #project-card-container #project-image {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

* body #project-card-container #project-image:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

* body #project-link a span,
* body #project-link a #visit, * body #project-link button span,
* body #project-link button #visit {
  position: relative;
  letter-spacing: 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

* body #project-link a span:hover,
* body #project-link a #visit:hover, * body #project-link button span:hover,
* body #project-link button #visit:hover {
  letter-spacing: 2px;
}

* body #project-link a #icon, * body #project-link button #icon {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-radius: 100%;
}

* body #project-link a:hover #icon, * body #project-link button:hover #icon {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background: var(--main-color);
  fill: var(--main-bg);
  border-radius: 100%;
}

* body #project-link a #icons, * body #project-link button #icons {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-radius: 100%;
}

* body #project-link a:hover #icons, * body #project-link button:hover #icons {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background: var(--main-color);
  fill: var(--main-bg);
  border-radius: 100%;
}

* body #card-container {
  position: relative;
  overflow: hidden;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

* body #card-container #span-container {
  position: relative;
  overflow: hidden;
}

* body #card-container #span-container #back {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

* body #card-container #span-container #project-p {
  margin-right: 8px;
}

* body #card-container #title-container {
  position: relative;
  overflow: hidden;
  height: auto;
}

* body #card-container #p-container {
  position: relative;
  overflow: hidden;
  height: auto;
}

* body #card-container #p-container #project-p {
  margin-right: 5px;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

* body #card-container #button-container {
  position: relative;
  overflow: hidden;
  height: auto;
}

* body #card-container #button-container #visit {
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

* body #card-container #img-container {
  position: relative;
  overflow: hidden;
  height: auto;
}

* body #card-container #img-container #project-img {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

* body #drop-message-container {
  position: relative;
  overflow: hidden;
  height: auto;
}

* body #drop-message-container p {
  margin-right: 20px;
}

* body #contact-description-container {
  height: auto;
  position: relative;
  overflow: hidden;
}

* body #contact-description-container #context {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  margin-right: 5px;
}

* body #account-container {
  position: relative;
  overflow: hidden;
  height: auto;
}

* body #account-container #accounts {
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
}

* body #footer-container {
  position: relative;
  overflow: hidden;
  height: auto;
}

* body #footer-container #footer {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  margin-right: 5px;
}

* body #footer-container #footer-update-date {
  margin-right: 5px;
}
/*# sourceMappingURL=App.css.map */